# NO2 emission during the COVID-19 pandemic

## About the data


## Research question
1. Is there a difference in NO2 emission in the Netherlands caused by the lockdowns?


## Table of contents

In [3]:
# IMPORTS
import sys
import numpy as np
import pandas as pd
import yaml
from pathlib import Path
import glob
import os
from functools import partial
import random
from datetime import datetime
from IPython.display import Markdown as md

# Data imputation
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.linear_model import BayesianRidge

In [4]:
import hvplot.pandas
import holoviews as hv
from holoviews import dim
from bokeh.io import output_notebook, output_file
from bokeh.plotting import figure, show
from bokeh.layouts import gridplot, column, layout, row
from bokeh.plotting import ColumnDataSource
from bokeh.models import DatetimeTickFormatter, DataTable, DateFormatter, TableColumn
from bokeh.models import CustomJS, Dropdown
from bokeh.models import Span
from bokeh.transform import jitter
import panel as pn
import regex as re


pn.extension()
output_notebook()

In [5]:
def get_config(file) -> dict:
    """
    Read in config file and return it as a dictionary.

    :parameter
    ----------
    file - String
        Location of config file
    
    :returns
    --------
    config - dict
        Configuration file in dictionary form.
    """
    try:
        with open(file, 'r') as stream:
            config = yaml.safe_load(stream)
    
        return config
    except FileNotFoundError as e:
        print(f"File: could not be found. Error {e}")
        sys.exit(1)

In [6]:
config = get_config("config.yaml")
data_dir = config['data']

In [7]:
class Data:
    
#     def __init__(self, test):
#         pass
    
    def read_NO2(self, file, *, skiprows=7, sep=";", encoding=None)-> pd.DataFrame:
        df = pd.read_csv(file, skiprows=skiprows, sep=sep, encoding=encoding)
        return df
    
    @staticmethod
    def rename_columns(df, columns) -> pd.DataFrame:
        df.rename(columns = columns, inplace = True)
        return df
    
    @staticmethod
    def reformat_date_column(column, *, format_date = '%Y%m%d%H%M') -> pd.Series:
        try:
            column = column.str.replace(" ", "").str.replace(":","")
            column = pd.to_datetime(column.astype(str), format=format_date)
            return column
        except AttributeError as e:
            print(f"Date column: {column.name}, has already been reformatted. Error: {e}")
            return column

    @staticmethod
    def missing_value_filter(df: pd.DataFrame, p_missing: float) -> pd.DataFrame:
        """
        Keep only the columns that pass the maximum required % of missing values.

        :parameters
        -----------
        df - pd.DataFrame
            Data frame
        p_missing - float
            Maximum percentage missing values allowed for a column.

        :returns
        --------
        df - pd.DataFrame
            Filtered data frame based on % missing values.
        """
        df = df[df.columns[df.isnull().mean() < p_missing]]
        return df
    
    @staticmethod
    def interpolate_values(df, method = 'cubicspline', limit_direction = 'forward', *args, **kwargs) -> pd.DataFrame:
        df.interpolate(method = method, limit_direction = limit_direction, *args, **kwargs)
        return df
    
    @staticmethod
    def tidy_df(df, id_vars, value_vars, var_name, value_name) -> pd.DataFrame:
        tidy_df = df.melt(id_vars=id_vars, value_vars=value_vars,
                          var_name = var_name,value_name = value_name)
        return tidy_df

    
data = Data()

In [8]:
class MetaData:
    
    def __init__(self, file):
        self.file = file
        self.df = self.read_data(self.file)
        self.df = self.remove_data(self.df, "StationsCode", axis = 0)
        self.create_lat_long_col()

    def read_data(self, file, *, nrows=6, sep=";", encoding='unicode_escape') -> pd.DataFrame:
        df = pd.read_csv(file, nrows=nrows, sep=sep, encoding=encoding).iloc[:, 4:].T
        df = self.rename_columns(df)
        return df
        
    def rename_columns(self, df) -> pd.DataFrame:
        df.columns = df.iloc[0,:]
        return df
    
    def create_lat_long_col(self) -> None:
        # Seperate the latitude and longitude column and assign it to their own column
        latitude_longitude = self.df["Latitude,Longitude"].str.strip("()").str.split(",", n = 1, expand = True)
        self.remove_data(self.df, "Latitude,Longitude", axis = 1) # Remove old column
        
        # Insert the chunk number column into the dataframe
        self.df.insert(1, column = "Latitude", value = latitude_longitude.iloc[:, 0])

        # Insert the patient id column into the dataframe
        self.df.insert(2, column = "Longitude", value = latitude_longitude.iloc[:, 1])
    
    @staticmethod
    def remove_data(df, name, *, axis = 1) -> pd.DataFrame:
        df.drop(name, axis = axis, inplace = True)
        return df
        
# metadata_instance = MetaData(file_2020)

# <a id="/2">1. Load data</a>

First, load in the data from the year 2020. Then, load in the data of the year 2021 by combine all the seperate files into one data frame.

## <a id="/3">1.1 Year 2020</a>

In [9]:
file_2020 = Path(data_dir) / "2020" / "2020_NO2.csv"
# df_2020 = pd.read_csv(file_2020, skiprows=7, sep=";")
df_2020 = data.read_NO2(file_2020, skiprows=7, sep=";")
df_2020.head()

,Component,Bep.periode,Eenheid,Begindatumtijd,Einddatumtijd,NL01485,NL01487,NL01488,NL01489,NL01491,...,NL49022,NL49546,NL49551,NL49553,NL49561,NL49564,NL49565,NL49701,NL49703,NL49704
0,NO2,uur,�g/m�,20200101 00:00,20200101 01:00,45.8,48.5,47.8,36.9,41.4,...,30.4,26.8,35.2,21.5,27.8,13.1,22.9,49.2,21.6,17.1
1,NO2,uur,�g/m�,20200101 01:00,20200101 02:00,32.3,55.8,45.1,43.4,47.4,...,24.6,33.7,16.4,16.0,24.3,24.0,30.2,54.3,21.2,26.6
2,NO2,uur,�g/m�,20200101 02:00,20200101 03:00,32.3,42.8,32.9,39.3,37.4,...,22.9,39.6,23.9,24.8,27.6,26.9,30.6,50.9,22.4,32.6
3,NO2,uur,�g/m�,20200101 03:00,20200101 04:00,25.4,40.3,32.1,26.4,37.1,...,20.4,31.1,22.9,22.7,29.5,28.5,27.9,38.8,22.3,28.4
4,NO2,uur,�g/m�,20200101 04:00,20200101 05:00,24.3,31.3,24.3,23.1,27.1,...,25.1,26.7,26.3,25.0,29.1,25.8,27.0,29.1,25.8,28.7

### Clean data

In [10]:
# Rename the date columns
df_2020 = data.rename_columns(df_2020, columns = {"Begindatumtijd": "date_start", "Einddatumtijd": "date_end"})

# Set the datatype of the date and time colum to datetime.
df_2020['date_start'] = data.reformat_date_column(df_2020['date_start'], format_date='%Y%m%d%H%M')
df_2020['date_end'] = data.reformat_date_column(df_2020['date_end'], format_date='%Y%m%d%H%M')


df_2020.head()

,Component,Bep.periode,Eenheid,date_start,date_end,NL01485,NL01487,NL01488,NL01489,NL01491,...,NL49022,NL49546,NL49551,NL49553,NL49561,NL49564,NL49565,NL49701,NL49703,NL49704
0,NO2,uur,�g/m�,2020-01-01 00:00:00,2020-01-01 01:00:00,45.8,48.5,47.8,36.9,41.4,...,30.4,26.8,35.2,21.5,27.8,13.1,22.9,49.2,21.6,17.1
1,NO2,uur,�g/m�,2020-01-01 01:00:00,2020-01-01 02:00:00,32.3,55.8,45.1,43.4,47.4,...,24.6,33.7,16.4,16.0,24.3,24.0,30.2,54.3,21.2,26.6
2,NO2,uur,�g/m�,2020-01-01 02:00:00,2020-01-01 03:00:00,32.3,42.8,32.9,39.3,37.4,...,22.9,39.6,23.9,24.8,27.6,26.9,30.6,50.9,22.4,32.6
3,NO2,uur,�g/m�,2020-01-01 03:00:00,2020-01-01 04:00:00,25.4,40.3,32.1,26.4,37.1,...,20.4,31.1,22.9,22.7,29.5,28.5,27.9,38.8,22.3,28.4
4,NO2,uur,�g/m�,2020-01-01 04:00:00,2020-01-01 05:00:00,24.3,31.3,24.3,23.1,27.1,...,25.1,26.7,26.3,25.0,29.1,25.8,27.0,29.1,25.8,28.7

### Missing values

In [11]:
print(f"Missing values: {df_2020.iloc[:,5:].isnull().any()}")

Missing values: NL01485    True
NL01487    True
NL01488    True
NL01489    True
NL01491    True
           ...
NL49564    True
NL49565    True
NL49701    True
NL49703    True
NL49704    True
Length: 73, dtype: bool

In [12]:
print(f" Check how many values there are missing per station:\n{df_2020.iloc[:,5:].isnull().sum()}")

 Check how many values there are missing per station:
NL01485    135
NL01487     30
NL01488     32
NL01489     29
NL01491    128
          ...
NL49564     82
NL49565     68
NL49701     57
NL49703    130
NL49704     71
Length: 73, dtype: int64

In [13]:
# Check for station NL101485 which date the missing values are
# df_2020.query("NL10107 != NL10107")

In [14]:
p = 0.3
# Filter out all columns with to many missing values
df_2020 = data.missing_value_filter(df_2020, p)


df_2020

,Component,Bep.periode,Eenheid,date_start,date_end,NL01485,NL01487,NL01488,NL01489,NL01491,...,NL49022,NL49546,NL49551,NL49553,NL49561,NL49564,NL49565,NL49701,NL49703,NL49704
0,NO2,uur,�g/m�,2020-01-01 00:00:00,2020-01-01 01:00:00,45.8,48.5,47.8,36.9,41.4,...,30.4,26.8,35.2,21.5,27.8,13.1,22.9,49.2,21.6,17.1
1,NO2,uur,�g/m�,2020-01-01 01:00:00,2020-01-01 02:00:00,32.3,55.8,45.1,43.4,47.4,...,24.6,33.7,16.4,16.0,24.3,24.0,30.2,54.3,21.2,26.6
2,NO2,uur,�g/m�,2020-01-01 02:00:00,2020-01-01 03:00:00,32.3,42.8,32.9,39.3,37.4,...,22.9,39.6,23.9,24.8,27.6,26.9,30.6,50.9,22.4,32.6
3,NO2,uur,�g/m�,2020-01-01 03:00:00,2020-01-01 04:00:00,25.4,40.3,32.1,26.4,37.1,...,20.4,31.1,22.9,22.7,29.5,28.5,27.9,38.8,22.3,28.4
4,NO2,uur,�g/m�,2020-01-01 04:00:00,2020-01-01 05:00:00,24.3,31.3,24.3,23.1,27.1,...,25.1,26.7,26.3,25.0,29.1,25.8,27.0,29.1,25.8,28.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8779,NO2,uur,�g/m�,2020-12-31 19:00:00,2020-12-31 20:00:00,55.4,63.2,57.1,49.7,67.0,...,42.3,58.0,42.0,10.1,51.4,40.3,39.6,45.8,30.6,53.3
8780,NO2,uur,�g/m�,2020-12-31 20:00:00,2020-12-31 21:00:00,52.9,68.8,61.3,54.6,61.5,...,50.8,57.7,32.9,17.7,52.5,43.5,41.6,53.5,33.9,54.0
8781,NO2,uur,�g/m�,2020-12-31 21:00:00,2020-12-31 22:00:00,51.2,67.2,64.4,58.6,59.8,...,51.7,55.9,43.9,23.6,54.4,46.2,43.3,45.7,42.5,53.5
8782,NO2,uur,�g/m�,2020-12-31 22:00:00,2020-12-31 23:00:00,48.5,62.5,60.0,59.4,59.6,...,47.0,63.2,12.3,12.1,55.6,42.1,39.9,46.7,53.1,59.6
8783,NO2,uur,�g/m�,2020-12-31 23:00:00,2021-01-01 00:00:00,43.0,59.8,54.1,53.5,60.4,...,46.0,56.7,10.1,7.4,51.6,39.7,37.7,52.0,48.0,52.4

# Impute data frame based on mean Top Bottom method

Idea: use stations that are close to the station with missing data then train the data with any model and predict the missing values. K-nearest neighbours for example.


General link:
* https://towardsdatascience.com/different-imputation-methods-to-handle-missing-data-8dd5bce97583#d85f

Try stochastic regression imputation:  
1. https://henrikhain.io/post/stochastic-regression-imputation/
2. https://towardsdatascience.com/6-different-ways-to-compensate-for-missing-values-data-imputation-with-examples-6022d9ca0779 

Multiple imputation:  
1. https://towardsdatascience.com/multiple-imputation-with-random-forests-in-python-dec83c0ac55b
2. https://pubmed.ncbi.nlm.nih.gov/27862164/

PREDICTIVE MODELS (REGRESSION METHODS):
1. https://digitaltesseract.com/data-imputation-techniques-an-introduction/ 

Paper testing:
1. mean top bottom
2. linear regression
3. k nearest neighbours
4. multiple imputation

link: https://www.semanticscholar.org/paper/Imputation-methods-for-filling-missing-data-in-air-Zakaria-Noor/068aef2863fa856e8498f74674ecb4806df88c93
pdf: https://uac.incd.ro/Art/v9n2a04.pdf

## <a id="/4">1.2 Year 2021</a>

In [15]:
# Map does not take keyword arugments: solution create a partial.
map_func = partial(data.read_NO2, skiprows=7, sep=";", encoding='unicode_escape')

# Merging the files 2021 csv files
list_2021 = glob.glob(os.path.join(data_dir, "2021", "*.csv"))
df_2021 = pd.concat(map(map_func, list_2021), ignore_index=True)
df_2021

,Component,Bep.periode,Eenheid,Begindatumtijd,Einddatumtijd,NL01485,NL01487,NL01488,NL01489,NL01491,...,NL49022,NL49546,NL49551,NL49553,NL49561,NL49564,NL49565,NL49701,NL49703,NL49704
0,NO2,uur,µg/m³,20210101 00:00,20210101 01:00,41.4,57.3,50.2,46.4,58.1,...,39.4,54.6,30.3,19.6,47.5,35.0,43.4,45.8,42.0,51.5
1,NO2,uur,µg/m³,20210101 01:00,20210101 02:00,41.8,51.4,47.8,43.0,56.2,...,36.0,53.4,39.7,17.9,49.2,33.6,44.4,40.2,43.3,48.9
2,NO2,uur,µg/m³,20210101 02:00,20210101 03:00,35.5,51.0,45.1,40.7,52.0,...,42.2,54.1,8.9,3.9,53.0,35.6,44.9,47.6,41.9,50.5
3,NO2,uur,µg/m³,20210101 03:00,20210101 04:00,20.4,52.9,49.9,45.3,54.6,...,41.2,55.1,9.0,3.0,56.6,38.9,56.0,42.7,39.3,47.1
4,NO2,uur,µg/m³,20210101 04:00,20210101 05:00,14.5,46.2,45.6,43.5,54.4,...,48.8,56.4,12.5,2.4,58.3,40.3,55.8,46.1,41.8,47.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8011,NO2,uur,µg/m³,20211130 19:00,20211130 20:00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8012,NO2,uur,µg/m³,20211130 20:00,20211130 21:00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8013,NO2,uur,µg/m³,20211130 21:00,20211130 22:00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8014,NO2,uur,µg/m³,20211130 22:00,20211130 23:00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8015,NO2,uur,µg/m³,20211130 23:00,20211201 00:00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Clean data

In [16]:
df_2021 = data.rename_columns(df_2021, columns = {"Begindatumtijd": "date_start", "Einddatumtijd": "date_end"})

# Set the datatype of the date and time colum to datetime.
df_2021['date_start'] = data.reformat_date_column(df_2021['date_start'], format_date='%Y%m%d%H%M')
df_2021['date_end'] = data.reformat_date_column(df_2021['date_end'], format_date='%Y%m%d%H%M')


df_2021.head()

,Component,Bep.periode,Eenheid,date_start,date_end,NL01485,NL01487,NL01488,NL01489,NL01491,...,NL49022,NL49546,NL49551,NL49553,NL49561,NL49564,NL49565,NL49701,NL49703,NL49704
0,NO2,uur,µg/m³,2021-01-01 00:00:00,2021-01-01 01:00:00,41.4,57.3,50.2,46.4,58.1,...,39.4,54.6,30.3,19.6,47.5,35.0,43.4,45.8,42.0,51.5
1,NO2,uur,µg/m³,2021-01-01 01:00:00,2021-01-01 02:00:00,41.8,51.4,47.8,43.0,56.2,...,36.0,53.4,39.7,17.9,49.2,33.6,44.4,40.2,43.3,48.9
2,NO2,uur,µg/m³,2021-01-01 02:00:00,2021-01-01 03:00:00,35.5,51.0,45.1,40.7,52.0,...,42.2,54.1,8.9,3.9,53.0,35.6,44.9,47.6,41.9,50.5
3,NO2,uur,µg/m³,2021-01-01 03:00:00,2021-01-01 04:00:00,20.4,52.9,49.9,45.3,54.6,...,41.2,55.1,9.0,3.0,56.6,38.9,56.0,42.7,39.3,47.1
4,NO2,uur,µg/m³,2021-01-01 04:00:00,2021-01-01 05:00:00,14.5,46.2,45.6,43.5,54.4,...,48.8,56.4,12.5,2.4,58.3,40.3,55.8,46.1,41.8,47.1

### Missing values

In [17]:
print(f"Missing values:\n{df_2020.iloc[:,5:].isnull().any()}")

Missing values:
NL01485    True
NL01487    True
NL01488    True
NL01489    True
NL01491    True
           ...
NL49564    True
NL49565    True
NL49701    True
NL49703    True
NL49704    True
Length: 73, dtype: bool

In [18]:
print(f"Check how many values there are missing per station:\n{df_2021.iloc[:,5:].isnull().sum()}")

Check how many values there are missing per station:
NL01485    3163
NL01487    2947
NL01488    3003
NL01489    2936
NL01491    3085
           ...
NL49564    3787
NL49565    3709
NL49701    3687
NL49703    3899
NL49704    3836
Length: 73, dtype: int64

Inspecting the number of missing values per stations. It looks like that for the year 2021 a lot of stations contain a lot of missing values. Stations that contain to much missing values should be removed:

In [19]:
n_stations_2021 = len(df_2021.columns)

p = 0.15
# Filter out all columns with to many missing values
df_2021 = data.missing_value_filter(df_2021, p)

df_2021

,Component,Bep.periode,Eenheid,date_start,date_end,NL10107,NL10131,NL10133,NL10136,NL10138,...,NL10738,NL10741,NL10742,NL10807,NL10818,NL10918,NL10929,NL10934,NL10937,NL10938
0,NO2,uur,µg/m³,2021-01-01 00:00:00,2021-01-01 01:00:00,22.58,22.69,13.43,27.63,23.40,...,14.26,41.78,32.58,16.12,29.11,22.84,13.27,12.43,34.03,30.30
1,NO2,uur,µg/m³,2021-01-01 01:00:00,2021-01-01 02:00:00,21.79,23.09,16.36,26.93,19.52,...,12.45,42.19,33.53,15.62,32.72,20.13,14.64,15.12,24.56,22.76
2,NO2,uur,µg/m³,2021-01-01 02:00:00,2021-01-01 03:00:00,22.06,19.06,17.35,25.40,19.56,...,10.50,41.26,33.26,20.28,30.52,16.96,14.31,18.14,21.07,20.20
3,NO2,uur,µg/m³,2021-01-01 03:00:00,2021-01-01 04:00:00,20.73,25.61,15.83,25.33,20.44,...,9.52,40.00,32.02,24.03,30.22,18.91,17.05,13.87,20.22,18.98
4,NO2,uur,µg/m³,2021-01-01 04:00:00,2021-01-01 05:00:00,21.87,23.23,12.12,15.95,14.17,...,9.26,39.56,31.15,24.89,28.20,19.43,21.04,11.29,21.10,16.14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8011,NO2,uur,µg/m³,2021-11-30 19:00:00,2021-11-30 20:00:00,12.36,13.51,9.59,10.96,8.26,...,17.87,24.45,28.44,4.90,7.32,4.97,3.47,4.35,29.99,11.30
8012,NO2,uur,µg/m³,2021-11-30 20:00:00,2021-11-30 21:00:00,11.26,15.39,7.32,9.31,7.86,...,15.57,23.51,28.75,6.93,6.52,3.33,5.33,8.37,28.89,12.02
8013,NO2,uur,µg/m³,2021-11-30 21:00:00,2021-11-30 22:00:00,9.34,13.00,6.84,12.06,10.17,...,10.47,18.70,24.28,8.56,6.61,15.93,6.43,7.35,17.58,10.20
8014,NO2,uur,µg/m³,2021-11-30 22:00:00,2021-11-30 23:00:00,7.48,9.65,8.42,8.17,8.97,...,9.80,17.22,24.54,13.63,11.27,14.04,6.10,5.42,15.49,7.29
8015,NO2,uur,µg/m³,2021-11-30 23:00:00,2021-12-01 00:00:00,8.81,8.25,8.70,5.38,7.07,...,12.62,15.75,24.43,9.99,11.29,9.24,7.33,3.57,10.16,8.15

In [20]:
# @hidden_cell
md(f"Number of stations removed: {n_stations_2021 - len(df_2021.columns)}")

Number of stations removed: 30

## <a id="/5">1.3 Filter out stations with no data</a>

In [21]:
# Column names of the 2021 data frame
cols_to_keep = df_2021.columns.values.tolist()

# Only keep relevant columns
df_2020 = df_2020.loc[:,cols_to_keep]
df_2020.head()

,Component,Bep.periode,Eenheid,date_start,date_end,NL10107,NL10131,NL10133,NL10136,NL10138,...,NL10738,NL10741,NL10742,NL10807,NL10818,NL10918,NL10929,NL10934,NL10937,NL10938
0,NO2,uur,�g/m�,2020-01-01 00:00:00,2020-01-01 01:00:00,38.78,20.94,27.48,40.33,38.70,...,32.69,42.24,44.22,6.14,10.44,30.06,29.30,22.68,37.35,44.95
1,NO2,uur,�g/m�,2020-01-01 01:00:00,2020-01-01 02:00:00,38.31,26.56,37.05,43.46,37.70,...,21.93,37.59,30.06,9.11,6.53,21.39,25.27,25.78,35.03,35.87
2,NO2,uur,�g/m�,2020-01-01 02:00:00,2020-01-01 03:00:00,37.06,34.22,38.43,38.72,41.50,...,23.22,39.67,31.79,12.25,7.75,9.38,22.14,26.87,30.58,30.06
3,NO2,uur,�g/m�,2020-01-01 03:00:00,2020-01-01 04:00:00,35.16,34.82,37.74,33.25,34.47,...,22.20,38.14,32.77,15.16,8.96,6.79,16.38,24.02,22.66,22.74
4,NO2,uur,�g/m�,2020-01-01 04:00:00,2020-01-01 05:00:00,32.31,36.92,36.39,36.58,37.55,...,28.42,39.48,36.21,14.39,11.20,6.16,11.00,11.84,20.93,16.92

## <a id="/6">1.4 Impute missing data</a>  
https://digitaltesseract.com/data-imputation-techniques-an-introduction/

write a story about the decision

In [22]:
def calculate_corr(df):
    """
    Calculate the correlation between different columns of a data frame.
    
    :parameters
    -----------
    df - pd.DataFrame
        Data frame
    
    :returns
    --------
    c - pd.DataFrame
        Correlation matrix
    """
    c = df.corr().abs()
    return c

## 2020

In [23]:
# Get the names of the different stations
stations = df_2020.columns[df_2020.columns.str.contains("NL")]

# calculate the correlation between each station for the year 2020
cor_stations_2020 = calculate_corr(df_2020.loc[:,stations])

cor_stations_2020

,NL10107,NL10131,NL10133,NL10136,NL10138,NL10230,NL10235,NL10236,NL10237,NL10240,...,NL10738,NL10741,NL10742,NL10807,NL10818,NL10918,NL10929,NL10934,NL10937,NL10938
NL10107,1.000000,0.786493,0.715316,0.729730,0.814773,0.464179,0.537842,0.763899,0.715351,0.636080,...,0.667494,0.625002,0.740633,0.602159,0.586028,0.485667,0.526274,0.458137,0.467106,0.497633
NL10131,0.786493,1.000000,0.607234,0.663923,0.718681,0.520781,0.529592,0.764157,0.680960,0.635263,...,0.732080,0.627954,0.757683,0.649090,0.607254,0.505326,0.590060,0.471963,0.435828,0.495598
NL10133,0.715316,0.607234,1.000000,0.681717,0.793526,0.356400,0.484573,0.646003,0.581961,0.497754,...,0.567923,0.508650,0.611045,0.538856,0.515437,0.407384,0.429012,0.399553,0.457390,0.472347
NL10136,0.729730,0.663923,0.681717,1.000000,0.848987,0.382280,0.382627,0.763496,0.727545,0.675120,...,0.553697,0.727328,0.709327,0.460940,0.493645,0.366129,0.388438,0.370780,0.567287,0.412287
NL10138,0.814773,0.718681,0.793526,0.848987,1.000000,0.409894,0.496793,0.766782,0.707235,0.632761,...,0.644634,0.638456,0.732766,0.582537,0.589076,0.473212,0.492728,0.458794,0.505232,0.506966
NL10230,0.464179,0.520781,0.356400,0.382280,0.409894,1.000000,0.283242,0.412983,0.370334,0.346175,...,0.374716,0.369199,0.425911,0.307071,0.291861,0.231281,0.347551,0.233359,0.205933,0.181910
NL10235,0.537842,0.529592,0.484573,0.382627,0.496793,0.283242,1.000000,0.529989,0.505361,0.540504,...,0.627147,0.346167,0.524504,0.587549,0.593109,0.554693,0.518803,0.493699,0.427661,0.555352
NL10236,0.763899,0.764157,0.646003,0.763496,0.766782,0.412983,0.529989,1.000000,0.903940,0.774329,...,0.708348,0.768457,0.842673,0.603488,0.622200,0.468061,0.470080,0.436595,0.609008,0.550909
NL10237,0.715351,0.680960,0.581961,0.727545,0.707235,0.370334,0.505361,0.903940,1.000000,0.814266,...,0.658556,0.758463,0.807306,0.530467,0.556090,0.404466,0.387074,0.358492,0.617929,0.517900
NL10240,0.636080,0.635263,0.497754,0.675120,0.632761,0.346175,0.540504,0.774329,0.814266,1.000000,...,0.669250,0.681749,0.735797,0.537364,0.571264,0.435276,0.401492,0.367103,0.631460,0.517321
NL10241,0.695769,0.681760,0.558504,0.630430,0.689590,0.384019,0.616163,0.797372,0.816723,0.860994,...,0.704928,0.642988,0.778890,0.590853,0.618491,0.482330,0.436499,0.399905,0.565758,0.566748
NL10246,0.706508,0.722623,0.592262,0.631899,0.691161,0.438417,0.651745,0.737044,0.658268,0.668726,...,0.673317,0.604002,0.732549,0.588037,0.630253,0.540392,0.565712,0.513882,0.505759,0.537175
NL10247,0.800871,0.811744,0.670238,0.680464,0.766663,0.469835,0.601692,0.868399,0.833243,0.721311,...,0.742446,0.625308,0.783808,0.662222,0.645154,0.524970,0.538234,0.477585,0.526494,0.572712
NL10301,0.627277,0.648194,0.567695,0.552315,0.603143,0.353512,0.595380,0.623964,0.513278,0.524396,...,0.628697,0.471971,0.591096,0.568844,0.611530,0.579145,0.564132,0.549561,0.441510,0.511787
NL10318,0.607943,0.648964,0.550872,0.555604,0.577565,0.427171,0.445801,0.553892,0.435678,0.427855,...,0.494431,0.471177,0.532049,0.444777,0.446487,0.396428,0.492901,0.421677,0.338531,0.347487
NL10404,0.548660,0.543256,0.441860,0.491382,0.546070,0.251997,0.583532,0.636004,0.573083,0.613971,...,0.618599,0.460516,0.594884,0.575308,0.645984,0.593707,0.499065,0.531115,0.553162,0.597837
NL10418,0.543749,0.539328,0.436644,0.492864,0.540672,0.268029,0.576232,0.673446,0.685000,0.696212,...,0.615402,0.531897,0.644175,0.527100,0.565881,0.446007,0.384097,0.365931,0.533116,0.517153
NL10437,0.657836,0.685356,0.527561,0.600602,0.626673,0.388642,0.532413,0.693768,0.629925,0.643002,...,0.633295,0.585742,0.685485,0.542213,0.569780,0.485180,0.494027,0.451973,0.482650,0.487852
NL10442,0.664752,0.649265,0.561835,0.598162,0.652964,0.349573,0.571082,0.755130,0.747625,0.746114,...,0.685014,0.640199,0.762341,0.557231,0.589123,0.471984,0.441178,0.413511,0.556253,0.560977
NL10444,0.522443,0.549044,0.460813,0.418584,0.510218,0.260249,0.617372,0.544541,0.457580,0.499597,...,0.649926,0.356649,0.521454,0.668643,0.702979,0.730880,0.601674,0.632273,0.487580,0.630585
NL10445,0.546120,0.527802,0.461336,0.558305,0.560051,0.247407,0.550093,0.689535,0.663969,0.687369,...,0.607591,0.581246,0.646307,0.534905,0.608844,0.510214,0.420119,0.442604,0.614074,0.560356
NL10446,0.594972,0.593938,0.454677,0.540527,0.591658,0.286641,0.580580,0.689220,0.663505,0.683082,...,0.651352,0.535896,0.663821,0.557164,0.611197,0.511163,0.467445,0.462585,0.541473,0.568866
NL10449,0.584217,0.619253,0.459437,0.597500,0.581842,0.333994,0.524477,0.689062,0.670705,0.715376,...,0.618109,0.618336,0.668146,0.499637,0.543919,0.427458,0.440210,0.399663,0.576834,0.500701
NL10538,0.304933,0.311263,0.231489,0.213065,0.297023,0.092773,0.479280,0.349414,0.336417,0.380884,...,0.490860,0.193948,0.350154,0.495726,0.564359,0.609319,0.442123,0.502154,0.390425,0.556701
NL10550,0.584467,0.608402,0.521951,0.630779,0.597622,0.303935,0.521722,0.702660,0.652179,0.697467,...,0.656034,0.627725,0.675974,0.575544,0.625505,0.566664,0.485613,0.507724,0.667864,0.585691
NL10617,0.598340,0.633993,0.535986,0.494340,0.606095,0.313906,0.635239,0.644430,0.588062,0.585047,...,0.799562,0.467463,0.656884,0.773428,0.817122,0.730275,0.662593,0.655249,0.536966,0.704815
NL10633,0.599667,0.612826,0.539826,0.485996,0.590530,0.275718,0.661737,0.662145,0.612805,0.613586,...,0.740463,0.483403,0.662954,0.712725,0.742735,0.665890,0.544685,0.554694,0.534561,0.656224
NL10636,0.569195,0.566121,0.494662,0.575578,0.596812,0.241888,0.559389,0.743133,0.760611,0.802058,...,0.717212,0.617068,0.729765,0.613688,0.646482,0.512480,0.416791,0.420473,0.663422,0.638680
NL10639,0.590639,0.587933,0.489891,0.610002,0.612090,0.278315,0.551850,0.761500,0.780159,0.820233,...,0.711481,0.657077,0.749670,0.586490,0.645968,0.521079,0.424929,0.442903,0.684899,0.618383
NL10641,0.507641,0.492764,0.394240,0.501216,0.510516,0.221712,0.503697,0.649848,0.706276,0.706323,...,0.629674,0.581290,0.652815,0.500426,0.565144,0.458743,0.373212,0.363013,0.571903,0.527011
NL10643,0.648031,0.650701,0.563858,0.577109,0.662390,0.312424,0.632058,0.765320,0.747980,0.746970,...,0.781480,0.597986,0.769602,0.693519,0.726602,0.609882,0.517422,0.520205,0.633844,0.695426
NL10644,0.668175,0.697397,0.574662,0.581867,0.661498,0.343055,0.665363,0.750785,0.700202,0.710288,...,0.782969,0.565560,0.738168,0.712837,0.739696,0.644014,0.547657,0.538379,0.565390,0.640813
NL10722,0.616837,0.665911,0.506651,0.473327,0.572628,0.315261,0.579055,0.620492,0.556447,0.561880,...,0.749464,0.435814,0.635785,0.831610,0.739457,0.641869,0.687179,0.582763,0.510116,0.667660
NL10738,0.667494,0.732080,0.567923,0.553697,0.644634,0.374716,0.627147,0.708348,0.658556,0.669250,...,1.000000,0.560382,0.734119,0.812797,0.784236,0.668875,0.654765,0.579847,0.560750,0.678574
NL10741,0.625002,0.627954,0.508650,0.727328,0.638456,0.369199,0.346167,0.768457,0.758463,0.681749,...,0.560382,1.000000,0.863011,0.418890,0.463112,0.314854,0.327150,0.300197,0.595068,0.389129
NL10742,0.740633,0.757683,0.611045,0.709327,0.732766,0.425911,0.524504,0.842673,0.807306,0.735797,...,0.734119,0.863011,1.000000,0.622389,0.635034,0.479661,0.490358,0.438416,0.602452,0.565051
NL10807,0.602159,0.649090,0.538856,0.460940,0.582537,0.307071,0.587549,0.603488,0.530467,0.537364,...,0.812797,0.418890,0.622389,1.000000,0.840873,0.721611,0.732556,0.646042,0.529531,0.717873
NL10818,0.586028,0.607254,0.515437,0.493645,0.589076,0.291861,0.593109,0.622200,0.556090,0.571264,...,0.784236,0.463112,0.635034,0.840873,1.000000,0.805184,0.718442,0.702553,0.593131,0.753283
NL10918,0.485667,0.505326,0.407384,0.366129,0.473212,0.231281,0.554693,0.468061,0.404466,0.435276,...,0.668875,0.314854,0.479661,0.721611,0.805184,1.000000,0.690723,0.782155,0.525271,0.729641
NL10929,0.526274,0.590060,0.429012,0.388438,0.492728,0.347551,0.518803,0.470080,0.387074,0.401492,...,0.654765,0.327150,0.490358,0.732556,0.718442,0.690723,1.000000,0.700520,0.462466,0.665435
NL10934,0.458137,0.471963,0.399553,0.370780,0.458794,0.233359,0.493699,0.436595,0.358492,0.367103,...,0.579847,0.300197,0.438416,0.646042,0.702553,0.782155,0.700520,1.000000,0.542471,0.755610
NL10937,0.467106,0.435828,0.457390,0.567287,0.505232,0.205933,0.427661,0.609008,0.617929,0.631460,...,0.560750,0.595068,0.602452,0.529531,0.593131,0.525271,0.462466,0.542471,1.000000,0.712874
NL10938,0.497633,0.495598,0.472347,0.412287,0.506966,0.181910,0.555352,0.550909,0.517900,0.517321,...,0.678574,0.389129,0.565051,0.717873,0.753283,0.729641,0.665435,0.755610,0.712874,1.000000

In [24]:
# find columns to correlate well with a certain station
def find_correlated_stations(cor_df, station, cor_threshold):
    """
    Find stations that are closely related (highly correlated) to a specific station.
    
    :parameters
    -----------
    cor_df - pd.DataFrame
        Correlation matrix of the stations
    station - str
        Station of interest
    cor_threshold - float
        Cut off to be considered highly correlated
        
    :returns
    --------
    stations - list
        List of correlated stations
    """
    corr_station = cor_df.loc[:,cor_df.columns == station]
    stations = corr_station[corr_station[station] > cor_threshold].index.values.tolist()
    # stations.append(station)
    return stations

stations_NL10138 = find_correlated_stations(cor_stations_2020, "NL10138", 0.7)
stations_NL10138

['NL10107',
 'NL10131',
 'NL10133',
 'NL10136',
 'NL10138',
 'NL10236',
 'NL10237',
 'NL10247',
 'NL10742']

In [25]:
# imputer = IterativeImputer(BayesianRidge())
# new_df = pd.DataFrame(imputer.fit_transform(df_2020[stations_NL10138]), columns = stations_NL10138)
# # new_df["date_start"] = df_2020["date_start"]
# new_df.insert(0, "date_start", df_2020["date_start"].values)
# new_df

In [26]:
# Put this in a class
def data_impute_regression(col, df):
    """
    Use regression-based model to fill in the missing value for a station. Features used for 
    predictions are the stations that are highly correlated to one another. 
    
    :parameters
    -----------
    col - pd.Series
        Column of a data frame
    df - pd.DataFrame
        Data frame containing the features
    
    :returns
    --------
    imputed_col - pd.Series
        Imputed column of interest
    """
    stations = find_correlated_stations(cor_stations_2020, col.name, 0.7)
    imputer = IterativeImputer(BayesianRidge())
    imputed_df = pd.DataFrame(imputer.fit_transform(df[stations]), columns = stations)
    imputed_col = imputed_df[col.name]
    return imputed_col

In [27]:
# Imput the data for columns with missing values
df_2020_imp = df_2020.loc[:,stations].apply(lambda x: data_impute_regression(col=x, df=df_2020), axis=0)

cols_to_keep = ["Component", "Eenheid", "date_start", "date_end"]
df_2020_imp = pd.concat([df_2020.loc[:,cols_to_keep], df_2020_imp], axis=1)

C:\Users\stijn\anaconda3\envs\DSLS_prog1\lib\site-packages\sklearn\impute\_iterative.py:699: ConvergenceWarning: [IterativeImputer] Early stopping criterion not reached.
  warnings.warn(

In [64]:
df_2020_imp

,Component,Eenheid,date_start,date_end,NL10107,NL10131,NL10133,NL10136,NL10138,NL10230,...,NL10741,NL10742,NL10807,NL10818,NL10918,NL10929,NL10934,NL10937,NL10938,Lockdown
0,NO2,�g/m�,2020-01-01 00:00:00,2020-01-01 01:00:00,38.78,20.94,27.48,40.33,38.70,23.65,...,42.24,44.22,6.14,10.44,30.06,29.30,22.68,37.35,44.95,No-lockdown
1,NO2,�g/m�,2020-01-01 01:00:00,2020-01-01 02:00:00,38.31,26.56,37.05,43.46,37.70,35.95,...,37.59,30.06,9.11,6.53,21.39,25.27,25.78,35.03,35.87,No-lockdown
2,NO2,�g/m�,2020-01-01 02:00:00,2020-01-01 03:00:00,37.06,34.22,38.43,38.72,41.50,28.47,...,39.67,31.79,12.25,7.75,9.38,22.14,26.87,30.58,30.06,No-lockdown
3,NO2,�g/m�,2020-01-01 03:00:00,2020-01-01 04:00:00,35.16,34.82,37.74,33.25,34.47,22.57,...,38.14,32.77,15.16,8.96,6.79,16.38,24.02,22.66,22.74,No-lockdown
4,NO2,�g/m�,2020-01-01 04:00:00,2020-01-01 05:00:00,32.31,36.92,36.39,36.58,37.55,18.47,...,39.48,36.21,14.39,11.20,6.16,11.00,11.84,20.93,16.92,No-lockdown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8779,NO2,�g/m�,2020-12-31 19:00:00,2020-12-31 20:00:00,20.33,13.69,11.98,27.05,15.15,24.92,...,42.22,28.04,12.44,14.87,17.47,13.86,16.16,31.23,22.49,Lockdown
8780,NO2,�g/m�,2020-12-31 20:00:00,2020-12-31 21:00:00,17.81,15.45,12.26,23.34,15.69,24.98,...,40.72,28.22,14.65,13.06,24.95,14.46,18.47,28.68,32.30,Lockdown
8781,NO2,�g/m�,2020-12-31 21:00:00,2020-12-31 22:00:00,19.03,15.01,13.61,19.41,15.88,26.05,...,37.69,30.29,13.95,16.32,31.54,12.25,16.48,31.84,28.30,Lockdown
8782,NO2,�g/m�,2020-12-31 22:00:00,2020-12-31 23:00:00,19.29,15.73,13.15,20.42,15.96,32.45,...,42.53,34.98,14.70,14.45,29.41,11.19,16.96,31.38,30.09,Lockdown
8783,NO2,�g/m�,2020-12-31 23:00:00,2021-01-01 00:00:00,20.07,21.49,12.48,19.52,16.27,29.86,...,44.77,37.59,14.21,17.67,28.71,11.56,16.01,31.40,26.83,Lockdown

## 2021

In [28]:
# calculate the correlation between each station for the year 2021
cor_stations_2021 = calculate_corr(df_2021.loc[:,stations])
cor_stations_2021

,NL10107,NL10131,NL10133,NL10136,NL10138,NL10230,NL10235,NL10236,NL10237,NL10240,...,NL10738,NL10741,NL10742,NL10807,NL10818,NL10918,NL10929,NL10934,NL10937,NL10938
NL10107,1.000000,0.749458,0.755316,0.696158,0.822104,0.369089,0.468887,0.717268,0.679244,0.578754,...,0.609498,0.600406,0.665561,0.479570,0.469696,0.343350,0.418811,0.360470,0.389776,0.438622
NL10131,0.749458,1.000000,0.571548,0.610020,0.693344,0.428142,0.518241,0.774904,0.721674,0.641870,...,0.689555,0.612754,0.716654,0.599668,0.560211,0.433856,0.515138,0.441596,0.404611,0.518944
NL10133,0.755316,0.571548,1.000000,0.630761,0.794517,0.256650,0.364986,0.575402,0.539942,0.450185,...,0.474187,0.525729,0.549052,0.346143,0.343788,0.225140,0.254172,0.254128,0.349851,0.360118
NL10136,0.696158,0.610020,0.630761,1.000000,0.822191,0.338960,0.285652,0.725830,0.715825,0.613979,...,0.491344,0.685539,0.616165,0.333490,0.368313,0.267505,0.280207,0.255405,0.492468,0.332006
NL10138,0.822104,0.693344,0.794517,0.822191,1.000000,0.343619,0.407767,0.719114,0.684069,0.579006,...,0.571632,0.617727,0.648825,0.431789,0.445844,0.329549,0.362370,0.334257,0.393875,0.416400
NL10230,0.369089,0.428142,0.256650,0.338960,0.343619,1.000000,0.198515,0.366398,0.327167,0.296511,...,0.289289,0.317943,0.328184,0.250942,0.290657,0.152636,0.221725,0.137603,0.160483,0.165810
NL10235,0.468887,0.518241,0.364986,0.285652,0.407767,0.198515,1.000000,0.455325,0.472779,0.517684,...,0.610109,0.305692,0.461866,0.554654,0.531771,0.538886,0.491729,0.495994,0.329088,0.510837
NL10236,0.717268,0.774904,0.575402,0.725830,0.719114,0.366398,0.455325,1.000000,0.905733,0.755850,...,0.655042,0.759818,0.799729,0.510219,0.521574,0.385073,0.400272,0.376559,0.512104,0.493006
NL10237,0.679244,0.721674,0.539942,0.715825,0.684069,0.327167,0.472779,0.905733,1.000000,0.786469,...,0.643329,0.741641,0.751820,0.479339,0.506420,0.374410,0.384261,0.361721,0.542127,0.483269
NL10240,0.578754,0.641870,0.450185,0.613979,0.579006,0.296511,0.517684,0.755850,0.786469,1.000000,...,0.669407,0.629767,0.690453,0.510777,0.534992,0.440880,0.416188,0.394457,0.551015,0.516081
NL10241,0.618781,0.693868,0.471136,0.565132,0.611874,0.321694,0.585070,0.759988,0.761951,0.867283,...,0.684535,0.606923,0.733998,0.541083,0.543823,0.452135,0.442195,0.405813,0.465825,0.532661
NL10246,0.605164,0.684900,0.442806,0.551822,0.581137,0.343836,0.618251,0.672811,0.641579,0.668472,...,0.639349,0.556617,0.647795,0.529901,0.549703,0.503363,0.495397,0.466537,0.425942,0.510639
NL10247,0.771142,0.815361,0.640095,0.656489,0.746804,0.403378,0.532756,0.847683,0.815961,0.687455,...,0.673314,0.632111,0.730589,0.556145,0.547575,0.419538,0.459914,0.426186,0.448687,0.513775
NL10301,0.487631,0.581414,0.303288,0.437273,0.455010,0.284245,0.527206,0.513031,0.469227,0.484504,...,0.531565,0.403083,0.448536,0.472934,0.506737,0.485148,0.477318,0.454235,0.364892,0.439526
NL10318,0.506447,0.540980,0.371124,0.515230,0.514158,0.380704,0.351958,0.496469,0.447710,0.412417,...,0.422834,0.452398,0.419566,0.338751,0.367288,0.311360,0.349481,0.335260,0.284791,0.303808
NL10404,0.394906,0.492335,0.226921,0.375299,0.393788,0.204475,0.481688,0.499923,0.489144,0.553471,...,0.535781,0.375861,0.461090,0.506338,0.550241,0.536958,0.487403,0.480195,0.423990,0.504135
NL10418,0.505036,0.587981,0.374558,0.465979,0.493842,0.223421,0.547988,0.640406,0.650167,0.695038,...,0.630585,0.524991,0.611924,0.513203,0.563991,0.489781,0.426513,0.440717,0.487691,0.539924
NL10437,0.580989,0.638411,0.408110,0.555568,0.559749,0.298916,0.502143,0.656322,0.627276,0.632063,...,0.587642,0.600947,0.628581,0.445161,0.481137,0.444885,0.444889,0.412517,0.431702,0.485290
NL10442,0.611269,0.657639,0.485898,0.543150,0.594993,0.297435,0.537131,0.727017,0.717059,0.750591,...,0.665144,0.642049,0.728602,0.489954,0.523344,0.433540,0.414391,0.403761,0.491904,0.552199
NL10444,0.355956,0.466814,0.189681,0.311713,0.335845,0.192879,0.528245,0.392363,0.371429,0.456879,...,0.542235,0.256607,0.379059,0.563338,0.604137,0.678990,0.584188,0.591211,0.372510,0.524696
NL10445,0.435363,0.511749,0.285498,0.456449,0.443768,0.196791,0.484702,0.595231,0.602358,0.659372,...,0.588419,0.480440,0.544922,0.514145,0.575519,0.536262,0.460572,0.472660,0.510577,0.533946
NL10446,0.509197,0.594550,0.321995,0.480312,0.503561,0.245522,0.518644,0.643142,0.637437,0.682369,...,0.640262,0.519780,0.614714,0.529586,0.583610,0.515869,0.490323,0.464145,0.475011,0.560246
NL10449,0.531835,0.629993,0.372491,0.540987,0.529599,0.296106,0.476755,0.657820,0.672512,0.706284,...,0.624189,0.602085,0.613061,0.483458,0.525723,0.448789,0.432453,0.413637,0.522077,0.512952
NL10538,0.259340,0.331681,0.134575,0.158554,0.228023,0.075647,0.463169,0.311173,0.324485,0.384767,...,0.481200,0.169369,0.332692,0.529173,0.564334,0.621193,0.507677,0.531590,0.349308,0.552174
NL10550,0.467281,0.541380,0.357312,0.531189,0.484669,0.249774,0.444193,0.590635,0.578645,0.646991,...,0.579609,0.555569,0.560359,0.491654,0.564048,0.534219,0.465364,0.469519,0.601106,0.547273
NL10617,0.497632,0.604249,0.360204,0.401494,0.473259,0.213398,0.604630,0.567282,0.553064,0.599538,...,0.789923,0.438559,0.600375,0.767672,0.818003,0.735222,0.692618,0.659173,0.484890,0.707697
NL10633,0.525525,0.620070,0.362457,0.402719,0.481638,0.245394,0.620369,0.590291,0.565841,0.610678,...,0.698602,0.452176,0.592010,0.645332,0.677518,0.617625,0.578322,0.550807,0.450149,0.595665
NL10636,0.540481,0.615357,0.431070,0.514333,0.543239,0.210939,0.526760,0.712066,0.719291,0.795793,...,0.718527,0.597100,0.711681,0.576599,0.611963,0.505843,0.453837,0.457910,0.588187,0.626936
NL10639,0.560676,0.630539,0.442281,0.562520,0.569949,0.239824,0.533483,0.723940,0.739265,0.800695,...,0.719563,0.630852,0.722733,0.563037,0.618746,0.521172,0.464563,0.462535,0.607231,0.615078
NL10641,0.441448,0.489682,0.299043,0.429794,0.421730,0.170346,0.472242,0.608405,0.652580,0.683421,...,0.619613,0.549357,0.618259,0.468674,0.518094,0.448826,0.397511,0.373331,0.483824,0.522076
NL10643,0.620059,0.690444,0.484361,0.521993,0.604695,0.272013,0.584351,0.718080,0.700313,0.745482,...,0.764867,0.602768,0.741560,0.631595,0.665155,0.560791,0.526285,0.511195,0.558262,0.656494
NL10644,0.574535,0.692744,0.433742,0.474492,0.555011,0.287821,0.630918,0.664972,0.644582,0.687227,...,0.736991,0.521700,0.657710,0.637416,0.656930,0.579114,0.548340,0.531649,0.466853,0.595497
NL10722,0.542328,0.636345,0.381535,0.388897,0.487389,0.242819,0.533818,0.563129,0.533242,0.535286,...,0.724183,0.414154,0.625912,0.813813,0.721009,0.600256,0.706763,0.594025,0.434680,0.652158
NL10738,0.609498,0.689555,0.474187,0.491344,0.571632,0.289289,0.610109,0.655042,0.643329,0.669407,...,1.000000,0.559213,0.687773,0.768304,0.747553,0.644072,0.643110,0.589049,0.520690,0.660591
NL10741,0.600406,0.612754,0.525729,0.685539,0.617727,0.317943,0.305692,0.759818,0.741641,0.629767,...,0.559213,1.000000,0.793585,0.367148,0.406088,0.270373,0.302704,0.278979,0.547315,0.395437
NL10742,0.665561,0.716654,0.549052,0.616165,0.648825,0.328184,0.461866,0.799729,0.751820,0.690453,...,0.687773,0.793585,1.000000,0.570526,0.542494,0.415670,0.466420,0.394516,0.500003,0.547688
NL10807,0.479570,0.599668,0.346143,0.333490,0.431789,0.250942,0.554654,0.510219,0.479339,0.510777,...,0.768304,0.367148,0.570526,1.000000,0.823678,0.708745,0.801125,0.704203,0.448418,0.716248
NL10818,0.469696,0.560211,0.343788,0.368313,0.445844,0.290657,0.531771,0.521574,0.506420,0.534992,...,0.747553,0.406088,0.542494,0.823678,1.000000,0.773431,0.755173,0.736897,0.555885,0.758867
NL10918,0.343350,0.433856,0.225140,0.267505,0.329549,0.152636,0.538886,0.385073,0.374410,0.440880,...,0.644072,0.270373,0.415670,0.708745,0.773431,1.000000,0.711542,0.789104,0.484135,0.698787
NL10929,0.418811,0.515138,0.254172,0.280207,0.362370,0.221725,0.491729,0.400272,0.384261,0.416188,...,0.643110,0.302704,0.466420,0.801125,0.755173,0.711542,1.000000,0.747512,0.476614,0.709741
NL10934,0.360470,0.441596,0.254128,0.255405,0.334257,0.137603,0.495994,0.376559,0.361721,0.394457,...,0.589049,0.278979,0.394516,0.704203,0.736897,0.789104,0.747512,1.000000,0.524212,0.776526
NL10937,0.389776,0.404611,0.349851,0.492468,0.393875,0.160483,0.329088,0.512104,0.542127,0.551015,...,0.520690,0.547315,0.500003,0.448418,0.555885,0.484135,0.476614,0.524212,1.000000,0.666600
NL10938,0.438622,0.518944,0.360118,0.332006,0.416400,0.165810,0.510837,0.493006,0.483269,0.516081,...,0.660591,0.395437,0.547688,0.716248,0.758867,0.698787,0.709741,0.776526,0.666600,1.000000

In [29]:
# Imput the data for columns with missing values
df_2021_imp = df_2021.loc[:,stations].apply(lambda x: data_impute_regression(col=x, df=df_2021), axis=0)
cols_to_keep = ["Component", "Eenheid", "date_start", "date_end"]
df_2021_imp = pd.concat([df_2021.loc[:,cols_to_keep], df_2021_imp], axis=1)

C:\Users\stijn\anaconda3\envs\DSLS_prog1\lib\site-packages\sklearn\impute\_iterative.py:699: ConvergenceWarning: [IterativeImputer] Early stopping criterion not reached.
  warnings.warn(

## <a id="/7">1.5 Meta Data</a>

In [30]:
meta_data = MetaData(file_2020)

df_meta_data = meta_data.df
df_meta_data

StationsCode,Stationsnaam,Latitude,Longitude,Stationsgebied,Stationstype,Meetprincipe,Meetopstelling
NL01485,Hoogvliet-Leemkuil,51.867411,4.355242,stad,achtergrond,Chemiluminescentie,Teledyne API 200E chemiluminescent Nox Analyser
NL01487,Rotterdam Zuid-Pleinweg,51.891147,4.48069,regionaal,verkeer,Chemiluminescentie,Teledyne API 200E chemiluminescent Nox Analyser
NL01488,Rotterdam Zuid-Zwartewaalstraat,51.893617,4.487528,stad,achtergrond,Chemiluminescentie,Teledyne API 200E chemiluminescent Nox Analyser
NL01489,Ridderkerk-Hogeweg,51.869431,4.580058,stad,verkeer,Chemiluminescentie,Teledyne API 200E chemiluminescent Nox Analyser
NL01491,Rotterdam-Oost Sidelinge A13,51.938472,4.430692,stad,verkeer,Chemiluminescentie,Teledyne API 200E chemiluminescent Nox Analyser
...,...,...,...,...,...,...,...
NL49564,Hoofddorp-Hoofdweg,52.327464,4.715008,onbekend,onbekend,Chemiluminescentie,Teledyne API 200E chemiluminescent Nox Analyser
NL49565,Oude Meer-Aalsmeerderdijk,52.279991,4.770773,regionaal,achtergrond,Chemiluminescentie,Teledyne API 200E chemiluminescent Nox Analyser
NL49701,Zaandam-Wagenschotpad,52.448011,4.816706,stad,achtergrond,Chemiluminescentie,Thermo model 42w NO/Nox analyser
NL49703,Amsterdam-Spaarnwoude,52.398437,4.728581,regionaal,achtergrond,Chemiluminescentie,Teledyne API 200E chemiluminescent Nox Analyser
NL49704,Amsterdam-Hoogtij,52.428017,4.773478,stad,industrie,Chemiluminescentie,Teledyne API 200E chemiluminescent Nox Analyser

## <a id="/7">1.6 Covid data</a>

https://www.rijksoverheid.nl/onderwerpen/coronavirus-tijdlijn
https://nl.wikipedia.org/wiki/Maatregelen_tijdens_de_coronacrisis_in_Nederland#Maatregelen_naar_datum_van_aankondiging

Lockdown:
* 14 oktober 2020 - 14 december 2020: gedeeltelijke lockdown
* 15 december 2020 - 27 april 2021: harde lockdown
* 28 april 2021 - 25 september 2021: weinig maatregelen
* 26 september 2021 - 26 november 2021: maatregelen
* 27 november 2021 - 17 december 2021: avondlockdown
* 18 december 2021 -  5 januari 2022: lockdown

In [31]:
lockdowns = ["partial-lockdown", "hard-lockdown", "evening-lockdown", "corona-measures", "few-measures"]

In [67]:
def check_lockdown(start, end):
    """
    Check for each date if it was during a lockdown.
    """
    lockdown1 = (start >= pd.to_datetime('2020-10-14', utc= True)) & (end <= pd.to_datetime('2020-12-14', utc= True))
    lockdown2 = (start >= pd.to_datetime('2020-12-15', utc= True)) & (end <= pd.to_datetime('2021-04-27', utc= True))
    lockdown3 = (start >= pd.to_datetime('2021-12-18', utc= True)) & (end <= pd.to_datetime('2022-01-05', utc= True))
    return lockdown1, lockdown2, lockdown3

In [68]:
l1, l2, l3 = check_lockdown(df_2020['date_start'].dt.date, df_2020['date_end'].dt.date)

df_2020_imp["Lockdown"] = np.where(l1 | l2 | l3, "Lockdown", "No-lockdown")

# Change dtype
df_2020_imp["Lockdown"]  = df_2020["Lockdown"].astype("category")

C:\Users\stijn\anaconda3\envs\DSLS_prog1\lib\site-packages\pandas\core\ops\array_ops.py:73: FutureWarning: Comparison of Timestamp with datetime.date is deprecated in order to match the standard library behavior.  In a future version these will be considered non-comparable.Use 'ts == pd.Timestamp(date)' or 'ts.date() == date' instead.
  result = libops.scalar_compare(x.ravel(), y, op)

In [69]:
l1, l2, l3 = check_lockdown(df_2021['date_start'].dt.date, df_2021['date_end'].dt.date)

df_2021_imp.loc[:,"Lockdown"] = np.where(l1 | l2 | l3, "Lockdown", "No-lockdown")

# Change dtype
df_2021_imp.loc[:,"Lockdown"]  = df_2021_imp.loc[:,"Lockdown"].astype("category")

In [70]:
df_2021_imp

,Component,Eenheid,date_start,date_end,NL10107,NL10131,NL10133,NL10136,NL10138,NL10230,...,NL10741,NL10742,NL10807,NL10818,NL10918,NL10929,NL10934,NL10937,NL10938,Lockdown
0,NO2,µg/m³,2021-01-01 00:00:00,2021-01-01 01:00:00,22.58,22.69,13.43,27.63,23.40,35.88,...,41.78,32.58,16.12,29.11,22.84,13.27,12.43,34.03,30.30,Lockdown
1,NO2,µg/m³,2021-01-01 01:00:00,2021-01-01 02:00:00,21.79,23.09,16.36,26.93,19.52,38.31,...,42.19,33.53,15.62,32.72,20.13,14.64,15.12,24.56,22.76,Lockdown
2,NO2,µg/m³,2021-01-01 02:00:00,2021-01-01 03:00:00,22.06,19.06,17.35,25.40,19.56,35.85,...,41.26,33.26,20.28,30.52,16.96,14.31,18.14,21.07,20.20,Lockdown
3,NO2,µg/m³,2021-01-01 03:00:00,2021-01-01 04:00:00,20.73,25.61,15.83,25.33,20.44,28.71,...,40.00,32.02,24.03,30.22,18.91,17.05,13.87,20.22,18.98,Lockdown
4,NO2,µg/m³,2021-01-01 04:00:00,2021-01-01 05:00:00,21.87,23.23,12.12,15.95,14.17,21.38,...,39.56,31.15,24.89,28.20,19.43,21.04,11.29,21.10,16.14,Lockdown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8011,NO2,µg/m³,2021-11-30 19:00:00,2021-11-30 20:00:00,12.36,13.51,9.59,10.96,8.26,13.34,...,24.45,28.44,4.90,7.32,4.97,3.47,4.35,29.99,11.30,No-lockdown
8012,NO2,µg/m³,2021-11-30 20:00:00,2021-11-30 21:00:00,11.26,15.39,7.32,9.31,7.86,19.64,...,23.51,28.75,6.93,6.52,3.33,5.33,8.37,28.89,12.02,No-lockdown
8013,NO2,µg/m³,2021-11-30 21:00:00,2021-11-30 22:00:00,9.34,13.00,6.84,12.06,10.17,16.90,...,18.70,24.28,8.56,6.61,15.93,6.43,7.35,17.58,10.20,No-lockdown
8014,NO2,µg/m³,2021-11-30 22:00:00,2021-11-30 23:00:00,7.48,9.65,8.42,8.17,8.97,12.97,...,17.22,24.54,13.63,11.27,14.04,6.10,5.42,15.49,7.29,No-lockdown
8015,NO2,µg/m³,2021-11-30 23:00:00,2021-12-01 00:00:00,8.81,8.25,8.70,5.38,7.07,8.66,...,15.75,24.43,9.99,11.29,9.24,7.33,3.57,10.16,8.15,No-lockdown

### Merge covid cases

In [72]:
covid_data = pd.read_csv(Path(data_dir + "time_series_covid19_confirmed_global.csv"), sep=",")
covid_NL = covid_data[(covid_data["Country/Region"]=="Netherlands") & (covid_data["Province/State"].isnull())]

In [73]:
# covid_NL = covid_NL.melt(id_vars=["Country/Region", "Lat", "Long"],
#             value_vars=covid_NL.columns[4:],
#                         var_name = "Date",
#                         value_name = "covid_patients")

# Melt the covid data frame
covid_NL = data.tidy_df(covid_NL, id_vars=["Country/Region", "Lat", "Long"], value_vars=covid_NL.columns[4:],
                       var_name = "Date", value_name = "covid_patients")

covid_NL.Date = pd.to_datetime(covid_NL.Date.astype(str))
# Drop unwanted columns
covid_NL.drop(list(covid_NL.columns[:3]), axis=1, inplace=True)

In [74]:
covid_NL

          Date  covid_patients
0   2020-01-22               0
1   2020-01-23               0
2   2020-01-24               0
3   2020-01-25               0
4   2020-01-26               0
..         ...             ...
723 2022-01-14         3500915
724 2022-01-15         3532768
725 2022-01-16         3568999
726 2022-01-17         3611351
727 2022-01-18         3611351

[728 rows x 2 columns]

### 2020

In [78]:
# Merge df
NO2_cov_2020 = pd.merge_asof(df_2020_imp, covid_NL, left_on='date_start', right_on="Date")

NO2_cov_2020.drop("Date", axis=1, inplace=True)

NO2_cov_2020.covid_patients = NO2_cov_2020.covid_patients.fillna(0)

In [80]:
NO2_cov_2020

,Component,Eenheid,date_start,date_end,NL10107,NL10131,NL10133,NL10136,NL10138,NL10230,...,NL10742,NL10807,NL10818,NL10918,NL10929,NL10934,NL10937,NL10938,Lockdown,covid_patients
0,NO2,�g/m�,2020-01-01 00:00:00,2020-01-01 01:00:00,38.78,20.94,27.48,40.33,38.70,23.65,...,44.22,6.14,10.44,30.06,29.30,22.68,37.35,44.95,No-lockdown,0.0
1,NO2,�g/m�,2020-01-01 01:00:00,2020-01-01 02:00:00,38.31,26.56,37.05,43.46,37.70,35.95,...,30.06,9.11,6.53,21.39,25.27,25.78,35.03,35.87,No-lockdown,0.0
2,NO2,�g/m�,2020-01-01 02:00:00,2020-01-01 03:00:00,37.06,34.22,38.43,38.72,41.50,28.47,...,31.79,12.25,7.75,9.38,22.14,26.87,30.58,30.06,No-lockdown,0.0
3,NO2,�g/m�,2020-01-01 03:00:00,2020-01-01 04:00:00,35.16,34.82,37.74,33.25,34.47,22.57,...,32.77,15.16,8.96,6.79,16.38,24.02,22.66,22.74,No-lockdown,0.0
4,NO2,�g/m�,2020-01-01 04:00:00,2020-01-01 05:00:00,32.31,36.92,36.39,36.58,37.55,18.47,...,36.21,14.39,11.20,6.16,11.00,11.84,20.93,16.92,No-lockdown,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8779,NO2,�g/m�,2020-12-31 19:00:00,2020-12-31 20:00:00,20.33,13.69,11.98,27.05,15.15,24.92,...,28.04,12.44,14.87,17.47,13.86,16.16,31.23,22.49,Lockdown,796981.0
8780,NO2,�g/m�,2020-12-31 20:00:00,2020-12-31 21:00:00,17.81,15.45,12.26,23.34,15.69,24.98,...,28.22,14.65,13.06,24.95,14.46,18.47,28.68,32.30,Lockdown,796981.0
8781,NO2,�g/m�,2020-12-31 21:00:00,2020-12-31 22:00:00,19.03,15.01,13.61,19.41,15.88,26.05,...,30.29,13.95,16.32,31.54,12.25,16.48,31.84,28.30,Lockdown,796981.0
8782,NO2,�g/m�,2020-12-31 22:00:00,2020-12-31 23:00:00,19.29,15.73,13.15,20.42,15.96,32.45,...,34.98,14.70,14.45,29.41,11.19,16.96,31.38,30.09,Lockdown,796981.0
8783,NO2,�g/m�,2020-12-31 23:00:00,2021-01-01 00:00:00,20.07,21.49,12.48,19.52,16.27,29.86,...,37.59,14.21,17.67,28.71,11.56,16.01,31.40,26.83,Lockdown,796981.0

### 2021

In [81]:
# Merge df
NO2_cov_2021 = pd.merge_asof(df_2021_imp, covid_NL, left_on='date_start', right_on="Date")

NO2_cov_2021.drop("Date", axis=1, inplace=True)

NO2_cov_2021.covid_patients = NO2_cov_2021.covid_patients.fillna(0)

In [82]:
NO2_cov_2021

,Component,Eenheid,date_start,date_end,NL10107,NL10131,NL10133,NL10136,NL10138,NL10230,...,NL10742,NL10807,NL10818,NL10918,NL10929,NL10934,NL10937,NL10938,Lockdown,covid_patients
0,NO2,µg/m³,2021-01-01 00:00:00,2021-01-01 01:00:00,22.58,22.69,13.43,27.63,23.40,35.88,...,32.58,16.12,29.11,22.84,13.27,12.43,34.03,30.30,Lockdown,805164
1,NO2,µg/m³,2021-01-01 01:00:00,2021-01-01 02:00:00,21.79,23.09,16.36,26.93,19.52,38.31,...,33.53,15.62,32.72,20.13,14.64,15.12,24.56,22.76,Lockdown,805164
2,NO2,µg/m³,2021-01-01 02:00:00,2021-01-01 03:00:00,22.06,19.06,17.35,25.40,19.56,35.85,...,33.26,20.28,30.52,16.96,14.31,18.14,21.07,20.20,Lockdown,805164
3,NO2,µg/m³,2021-01-01 03:00:00,2021-01-01 04:00:00,20.73,25.61,15.83,25.33,20.44,28.71,...,32.02,24.03,30.22,18.91,17.05,13.87,20.22,18.98,Lockdown,805164
4,NO2,µg/m³,2021-01-01 04:00:00,2021-01-01 05:00:00,21.87,23.23,12.12,15.95,14.17,21.38,...,31.15,24.89,28.20,19.43,21.04,11.29,21.10,16.14,Lockdown,805164
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8011,NO2,µg/m³,2021-11-30 19:00:00,2021-11-30 20:00:00,12.36,13.51,9.59,10.96,8.26,13.34,...,28.44,4.90,7.32,4.97,3.47,4.35,29.99,11.30,No-lockdown,2643176
8012,NO2,µg/m³,2021-11-30 20:00:00,2021-11-30 21:00:00,11.26,15.39,7.32,9.31,7.86,19.64,...,28.75,6.93,6.52,3.33,5.33,8.37,28.89,12.02,No-lockdown,2643176
8013,NO2,µg/m³,2021-11-30 21:00:00,2021-11-30 22:00:00,9.34,13.00,6.84,12.06,10.17,16.90,...,24.28,8.56,6.61,15.93,6.43,7.35,17.58,10.20,No-lockdown,2643176
8014,NO2,µg/m³,2021-11-30 22:00:00,2021-11-30 23:00:00,7.48,9.65,8.42,8.17,8.97,12.97,...,24.54,13.63,11.27,14.04,6.10,5.42,15.49,7.29,No-lockdown,2643176
8015,NO2,µg/m³,2021-11-30 23:00:00,2021-12-01 00:00:00,8.81,8.25,8.70,5.38,7.07,8.66,...,24.43,9.99,11.29,9.24,7.33,3.57,10.16,8.15,No-lockdown,2643176

### Tidy data frames

### 2020

In [83]:
id_vars=["date_start", "date_end", "Lockdown", "covid_patients"]
# Get all the stations
value_vars = NO2_cov_2020.columns[NO2_cov_2020.columns.str.contains("NL")]

# Create tidy data frame
tidy_2020 = data.tidy_df(NO2_cov_2020, id_vars=id_vars, value_vars=value_vars,
                       var_name = "site", value_name = "NO2")
tidy_2020

,date_start,date_end,Lockdown,covid_patients,site,NO2
0,2020-01-01 00:00:00,2020-01-01 01:00:00,No-lockdown,0.0,NL10107,38.78
1,2020-01-01 01:00:00,2020-01-01 02:00:00,No-lockdown,0.0,NL10107,38.31
2,2020-01-01 02:00:00,2020-01-01 03:00:00,No-lockdown,0.0,NL10107,37.06
3,2020-01-01 03:00:00,2020-01-01 04:00:00,No-lockdown,0.0,NL10107,35.16
4,2020-01-01 04:00:00,2020-01-01 05:00:00,No-lockdown,0.0,NL10107,32.31
...,...,...,...,...,...,...
377707,2020-12-31 19:00:00,2020-12-31 20:00:00,Lockdown,796981.0,NL10938,22.49
377708,2020-12-31 20:00:00,2020-12-31 21:00:00,Lockdown,796981.0,NL10938,32.30
377709,2020-12-31 21:00:00,2020-12-31 22:00:00,Lockdown,796981.0,NL10938,28.30
377710,2020-12-31 22:00:00,2020-12-31 23:00:00,Lockdown,796981.0,NL10938,30.09
377711,2020-12-31 23:00:00,2021-01-01 00:00:00,Lockdown,796981.0,NL10938,26.83

### 2021

In [84]:
id_vars=["date_start", "date_end", "Lockdown", "covid_patients"]
# Get all the stations
value_vars = NO2_cov_2021.columns[NO2_cov_2021.columns.str.contains("NL")]

# Create tidy data frame
tidy_2021 = data.tidy_df(NO2_cov_2021, id_vars=id_vars, value_vars=value_vars,
                       var_name = "site", value_name = "NO2")
tidy_2021

,date_start,date_end,Lockdown,covid_patients,site,NO2
0,2021-01-01 00:00:00,2021-01-01 01:00:00,Lockdown,805164,NL10107,22.58
1,2021-01-01 01:00:00,2021-01-01 02:00:00,Lockdown,805164,NL10107,21.79
2,2021-01-01 02:00:00,2021-01-01 03:00:00,Lockdown,805164,NL10107,22.06
3,2021-01-01 03:00:00,2021-01-01 04:00:00,Lockdown,805164,NL10107,20.73
4,2021-01-01 04:00:00,2021-01-01 05:00:00,Lockdown,805164,NL10107,21.87
...,...,...,...,...,...,...
344683,2021-11-30 19:00:00,2021-11-30 20:00:00,No-lockdown,2643176,NL10938,11.30
344684,2021-11-30 20:00:00,2021-11-30 21:00:00,No-lockdown,2643176,NL10938,12.02
344685,2021-11-30 21:00:00,2021-11-30 22:00:00,No-lockdown,2643176,NL10938,10.20
344686,2021-11-30 22:00:00,2021-11-30 23:00:00,No-lockdown,2643176,NL10938,7.29
344687,2021-11-30 23:00:00,2021-12-01 00:00:00,No-lockdown,2643176,NL10938,8.15

# <a id="/8">2 Data inspection</a>

In [ ]:
#plot a heatmap
from bokeh.models import (BasicTicker, ColorBar, ColumnDataSource,
                          LinearColorMapper, PrintfTickFormatter,)
from bokeh.transform import transform
from bokeh.palettes import Viridis256

#reshape
dfc = pd.DataFrame(c.stack(), columns=['r']).reset_index()

y_range = (list(reversed(c.columns)))
x_range = (list(c.index))

source = ColumnDataSource(dfc)

#create colormapper 
mapper = LinearColorMapper(palette=Viridis256, low=dfc.r.min(), high=dfc.r.max())

#create plot
p = figure(title="correlation heatmap", plot_width=500, plot_height=450,
           x_range=x_range, y_range=y_range, x_axis_location="above", toolbar_location=None)

#use mapper to fill the rectangles in the plot
p.rect(x="level_0", y="level_1", width=1, height=1, source=source,
       line_color=None, fill_color=transform('r', mapper))

#create and add colorbar to the right
color_bar = ColorBar(color_mapper=mapper, location=(0, 0),
                     ticker=BasicTicker(desired_num_ticks=len(x_range)), 
                     formatter=PrintfTickFormatter(format="%.1f"))
p.add_layout(color_bar, 'right')

#draw axis
p.axis.axis_line_color = None
p.axis.major_tick_line_color = None
p.axis.major_label_text_font_size = "10px"
p.axis.major_label_standoff = 0
p.xaxis.major_label_orientation = 1.0

#show
show(p)

In [ ]:
def plot_density(df, site, columns, by, colors) -> figure:
    """
    Create a density plot for the specific site.
    
    :parameters
    -----------
    df - pd.DataFrame
        Data frame
    site - str
        Name of the site
    columns - list
        Which columns to use to display density
    by - str
        By which column to create density plot
    colors - list
        List of colors to used.
        
    :returns
    --------
    p - figure
        Density plot
    """
    p = df.loc[df['site'] == site, columns].hvplot.kde(by=by, legend = 'top_right', color = colors)
    return p

In [ ]:
# Plot distribution NO2 emission and lockdown yes/no
density_NO2_NL10107 = plot_density(tidy_2021, "NL10107", ['NO2', 'Lockdown'], by='Lockdown', colors = ['red', 'green'])
density_NO2_NL10107

In [ ]:
# #code for the scatter plot here

# def create_scatter(df, site):
#     """
#     Create a scatter plot to show the relation between how tired you feel and hours slept.
    
#     :parameters
#     -----------
#     df - pandas.DataFrame
#         Data frame
    
#     :returns
#     --------
#     p - figure
#         Scatter plot
#     """
    
#     # Create two seperate data frames for yes and no breakfast
#     yes_breakfast = df[df['Breakfast'] == 'Yes'][['Hours', 'Tired']]
#     no_breakfast = df[df['Breakfast'] == 'No'][['Hours', 'Tired']]

#     # Create ColumnDataSource objects
#     source_yes = ColumnDataSource(yes_breakfast)
#     source_no = ColumnDataSource(no_breakfast)

#     p = figure(title = "Relation between being tired and hours slept.",plot_width = 750, plot_height = 400, tools="pan, hover, zoom_in, zoom_out, yzoom_in, yzoom_out")


#     # Create the points for patient who have died
#     points = p.scatter(jitter('Tired', 0.5), 'Hours', source=source_yes, color = "green", marker = "dot", size = 30, legend_label = "Breakfast: yes", alpha = 0.7)
#     # Create the points for patient who survived
#     points2 = p.scatter(jitter('Tired', 0.5), 'Hours', source=source_no, color = "red", marker = "dot", size = 30, legend_label = "Breakfast: no", alpha = 0.5)

#     # Set labels
#     p.xaxis.axis_label = 'Tirednes (1 being not tired, 5 being very tired))'
#     # Use regex to grab the info about what was measured
#     p.yaxis.axis_label = 'Hours slept'

#     # Make legend interactive
#     p.legend.location = "bottom_left"
#     p.legend.click_policy="hide"

#     return p 

# p = create_scatter(sleep_df)
# show(p)

In [ ]:
tidy_2021.loc[(tidy_2021['site'] == "NL10107") & (tidy_2021['Lockdown'] == "Lockdown")]

In [ ]:
discrete_slider = pn.widgets.DiscreteSlider(name='Number of stations', options=[1, 2, 3, 4], value=3)

def violin_plot(n_stations):
    stations = list(NO2_cov_2021.columns[NO2_cov_2021.columns.str.contains("NL")])
    random_stations = random.sample(stations, n_stations)
    df = tidy_2021[tidy_2021.site.isin(random_stations)]
    
    chart = hv.Violin(df, 
                  kdims=['site', 'Lockdown'], vdims="NO2")
    chart.opts(title=f'Violin plot', width=750, height=600,
               violin_color=dim('Lockdown'))
    return chart
    

layout = pn.interact(violin_plot, n_stations = discrete_slider)
pn.Row(pn.Column(layout[0], layout[1]))